@charset "UTF-8";

/* Typical Device Breakpoints
--------------------------------

Pequenas telas: até 600px
Celular: de 600px até 768px
Tablete: 768px até 992px
desktop: 992px até 1200px
grandes telas: acima de 1200px

*/

@media screen and (min-width: 768px) and (max-width: 992px){
    .conteudo-principal-titulo{
        font-size: 35px;
    }
    .conteudo-principal-paragrafo{
        font-size: 20px;
    }

    .conteudo-secundario-titulo{
        font-size: 22px;
    }

    .conteudo-secundario-paragrafo{
        font-size: 20px;
    }
    .conteudo-secundario-cards-titulo{
        font-size: 22px;
    }
    .conteudo-secundario-cards-paragrafo{
        font-size:20px;
    }

     .projetos-cards > h3{
        font-size: 22px;
    }

    .projetos-paragrafo{
        font-size: 20px;
    }

   
    .conteudo-secundario-cards{
        width: 75vw;
        height: 300px;
        position: relative;
        bottom:100px;
    }

    .projetos-container-cards{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .projetos-cards{
        width: 80vw;
        height: auto;
         
    }
}  

@media screen and (min-width: 992px) {
    .container{
        max-width: 1500px;
        width: 95%;
        
    }

    .cards-secundario{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
    }
    .conteudo-secundario-cards {
        width: 30%;
        max-width: 500px;
        height: 350px;
        position: relative;
        bottom: 100px;
        
    }
    .conteudo-principal-titulo{
        font-size: 48px;
    }
    .conteudo-principal-paragrafo{
        font-size: 28px;
        line-height: 38px;
        width: 70%;
    }

    .conteudo-secundario-titulo{
        font-size: 30px;
        margin: 50px;
         
    }
    .conteudo-secundario-paragrafo{
        font-size: 22px;
        line-height: 35px;
        margin-left: 60px;
        margin-right: 60px;
        text-indent: 40px;       
        
    }
}
