@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Bai Jamjuree", sans-serif;
    text-decoration: none;

}

body{
    background-color: #0d0d0d;
    color:#ffffff;
}

#cabecalho{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    padding: 24px;
    
}

.cabecalho-menu{
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
    
}

.cabecalho-menu-item{
    color: #ffffff;
    font-weight: bolder;
    font-size: 18px;
    
}

.conteudo{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    border-top: 0.4px solid #fff2e7;  
    margin-bottom: 50px;
    
}

.conteudo-principal{
    display: flex;
    flex-flow: column;
    font-size: 18px;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    background-image: url('../imagens/logo2.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 200px;
    
}
.conteudo-principal-titulo{
    margin-top: 50px;
    margin-bottom: 30px;
    font-weight: bolder;
    font-size: 30px;
    
}
.conteudo-principal-paragrafo{
    text-align: center;
    line-height: 1.5em;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 16px;
}

.container{
    
    background-color: #2F4F4F;
    width: 90%;
    height: 600px;
    border-radius: 20px;
    
}
.conteudo-secundario-titulo{
    margin-bottom: 30px;
    text-align: center;
    margin: 20px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
   
}

.conteudo-secundario-paragrafo{
    text-align: justify;
    line-height: 28px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 18px;
}

.cards-secundario{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    gap:15px;
    position: relative;
    bottom: 100px;
   
    
}

.conteudo-secundario-cards{
   
    background-color: #ffffff;
    color: #0d0d0d;
    width: 80%;
    height: 350px;
    border-radius: 14px;   
}

.conteudo-secundario-cards-titulo{
    text-align: center;
    padding: 10px;  
    font-weight: bolder;
    font-size: 20px;
}

.conteudo-secundario-cards-paragrafo{
    text-align: justify;
    line-height: 28px;
    margin: 30px;
    font-size: 18px;
    
}


.skill{
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 60px;
    width:90%;
    
    
}

.skill-img{
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    justify-content: center;
    margin-bottom: 100px;
}

.projetos{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.skill-titulo{
    font-size: 38px;
    font-family: "Ubuntu Mono", monospace;
}
.projetos-cards{
    background-color: #2D82B7;
    width: 80%;
    height: 380px;
    border-radius: 14px; 

}
.projetos-titulo-principal{
    text-align: center;
    margin-bottom: 60px;
    font-size: 30px;
}
.projetos-titulo{
    text-align: center;
    padding: 10px;  
    
}

.projetos-paragrafo{
    text-align: justify;
    line-height: 28px;
    margin: 30px;
    font-size: 18px;
}

.projetos-paragrafo > a{
    font-size: 18px;
    font-weight: 400;
    color: burlywood;
    font-size: 20px;
}


.rodape{

    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: #1B2C37;
    height: 300px;
    background-image: url('../imagens/logorodape.png');
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 200px;
    color: #fff2e7;
    padding-top: 30px;
}

.rodape-titulo{
    font-size: 22px;
    font-weight: 700px;
    color: #ffffff;
    margin-bottom: 50px;
    
}

.rodape-links {
   display: flex;
   flex-flow: row nowrap;
   justify-content: center;
   width: 100%;
   gap: 50px;
      
}

.rodape-links-contato{
    display: flex;
    flex-flow: column;
    
}

.rodape-links-contato-phone{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;
}

.rodape-links-contato-email{
    display: flex;
    gap: 10px;
    align-items: center;
}

.rodape-links-social{
    display: flex;
    flex-flow: column;   
}

.rodape-links-social-git{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;
}

.rodape-links-social-linkedin{
    display: flex;
    gap: 10px;
    align-items: center;
}
.item-link{
    color: #ffffff;
    font-size: 18px;

}

.item-link:hover{
    text-decoration: underline;
}
